{{!< default}}

<div id="header" class="header{{#if tag.feature_image}} has-cover{{/if}}">
	<div class="inner">
		{{#if tag.feature_image}}
			<div class="header-cover" style="background-image: url('{{tag.feature_image}}');"></div>
		{{/if}}
		<span class="header-title">
			<span class="header-label">{{t "Tag"}}</span>
			<h1 class="header-name">{{tag.name}}</h1>
			{{#if tag.description}}
				<span class="header-description">{{tag.description}}</span>
			{{/if}}
			<span class="header-meta">
				<span class="header-posts">{{plural pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</span>
			</span>
		</span>
	</div>
</div>
<div id="posts">
	<div class="inner">
		{{> "loop"}}
	</div>
</div>
